<div class="modal fade" id="modal-service" tabindex="-1" role="dialog" aria-labelledby="modal-service">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Serviço</h4>
            </div>
            <div class="modal-body">

                <div class="row">
                    <h2 style="font-size: 16px">Dados do serviço</h2>

                    <dl class="col-sm-6">
                        <dt>Serviço</dt>
                        <dd id="m-servico"></dd>
                    </dl>
                    <dl class="col-sm-6">
                        <dt>Codigo:</dt>
                        <dd id="m-id"></dd>
                    </dl>
                    <dl class="col-sm-6">
                        <dt>Status</dt>
                        <dd id="m-status"></dd>
                    </dl>
                    <dl class="col-sm-6">
                        <dt>Pagamento:</dt>
                        <dd id="m-payment"></dd>
                    </dl>
                    <dl class="col-sm-6">
                        <dt>Data</dt>
                        <dd id="m-date"></dd>
                    </dl>
                    <dl class="col-sm-6">
                        <dt>Horario</dt>
                        <dd id="m-time"></dd>
                    </dl>
                </div>

                <div class="row">
                    <h2 style="font-size: 16px">Informações do Veículo</h2>

                    <dl class="col-sm-6 m-b-sm">
                        <dt>Modelo</dt>
                        <dd id="m-model"></dd>
                    </dl>
                    <dl class="col-sm-3 m-b-sm">
                        <dt>Placa</dt>
                        <dd id="m-placa"></dd>
                    </dl>
                    <dl class="col-sm-3 m-b-sm">
                        <dt>Cor</dt>
                        <dd id="m-color"></dd>
                    </dl>
                </div>
                <div class="row">
                    <h2 style="font-size: 16px">Dados do cliente</h2>

                    <dl class="col-sm-6">
                        <dt>Cliente</dt>
                        <dd id="m-customer"></dd>
                    </dl>
                    <dl class="col-sm-6">
                        <dt>Celular</dt>
                        <dd id="m-cellphone"></dd>
                    </dl>
                </div>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Fechar</button>
            </div>
        </div>
    </div>
</div>